/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#calculator {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi Bold */
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f3f3f3;
}

#usage {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
}

#calculator div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=range] {
    width: 100%;
}

#bottomText {
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}


